*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

/* Header */

header {
    font-family: "Roboto Condensed", sans-serif;
    background-image: url(./images/header-background.png);
    height: 60vh;
    background-size: cover;
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: -0.5em;
}

header nav ul li a {
    color: white;
}

nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-top: 1em;
}


ul {
    display: flex;
    gap: 3em;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    border-bottom: 2px solid white;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    font-style: Italic;
    font-size: 0.7em;
}

.mountain-logo {
    width: 30px;
    height: 30px;
}

.white {
    color: #414f6b;
    padding: 0em 4em;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
}

.white nav ul li a {
    border-bottom: 2px solid #626b7e;
    color: #414f6b;
}

.section-moutain {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 0.5em;
    width: 400px;
}

.losangeles {
    display: flex;
    flex-direction: column;
    width: 60px;
    letter-spacing: .5px;
    line-height: .8;
}

.black-span {
    color: #3c3e40;
    letter-spacing: -.1px;
}

/* Third Section */

.history-section {
    background-image: url(./images/history-background.png);
    background-size: cover;
    margin-top: 0.5em;
}

.row-1 {
    padding: 3em;
    padding-left: 4em;

}

.row-1 img,
.second-climb img {
    width: 150px;
}

.history-text {
    margin-left: 2.5em;
    color: #3a4356;
    font-family: inherit;
    font-size: .8em;
}

.hid-mobile {
    display: none;
}

.row-2 {
    padding: 0;
    position: relative;
    margin: 0;
    height: 45vh;
}


.slide {
    opacity: 1;
}


/* Dot navigation item */

.dots {
    display: flex;
    gap: .4em;
    margin-bottom: -1.7em;
}

.dot-navigation {
    width: 0.5em;
    height: 0.5em;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
}

.content-images {
    display: flex;
    flex-direction: column;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.slide-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 2em 2em;
    gap: .5em;
}


.image-conten {
    background-color: rgba(66, 78, 109, 0.5);
}

.slide-content img {
    width: 200px;
}

/* Fourth Section */

.second-climb {
    display: flex;
    align-items: center;
    gap: 2em;
    padding-left: 2em;
    padding: 1em 3em;
}

.second-climb-para {
    font-size: 0.8em;
    color: #3a4356;
    font-family: inherit;
}


.mountains {
    display: flex;
    gap: 1em;
    padding-left: 2em;
    background-color: #414f6b;
}

.mountain {
    padding: 0;
    margin: 0;
}

.mountain h2 {
    margin: 0;
    color: #626b7e;
    padding: 0 .5em;
    text-transform: uppercase;
    border-bottom: 2px solid #626b7e;
    font-size: 1em;
}

#first-mountain h2 {
    background-color: #626b7e;
    color: #2b354a;
    border-bottom: 1px solid #2b354a;
}

#second-mountain h2 {
    color: #bbc3d3;
}

.schedule-section {
    background-image: url(./images/mountain-1.png);
    background-size: cover;
    height: 60vh;
}

.schedule {
    padding: 5em 3em;
}

.schedule img {
    width: 200px;
}
