*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(./images/header-background.png);
    height: 60vh;
    background-size: cover;
    padding: 2em;
    width: auto;
    padding-left: 3em;
    padding-right: 3em;
}

nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: -1.5em;
}


ul {
    display: flex;
    gap: 3em;
}

li {
    list-style-type: none;
    border-bottom: 2px solid white;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-style: Italic;
    font-size: 0.8em;
}


.mountain-logo {
    width: 40px;
    height: 40px;
}